[submodule "roles/apache"]
	path = roles/apache
	url = git@github.com:geerlingguy/ansible-role-apache.git
[submodule "roles/php"]
	path = roles/php
	url = git@github.com:geerlingguy/ansible-role-php.git
[submodule "roles/composer"]
	path = roles/composer
	url = git@github.com:kosssi/ansible-role-composer.git
